**/.github
**/.vscode
**/k8s
**/spec
.dockerignore
.editorconfig
.env.example
.gitignore
.rspec
.rubocop.yml
.ruby-version
docker-compose.yml
Dockerfile
Dockerfile.local
Jenkinsfile
Makefile
Procfile.dev
README.md