RACK_ENV=development
PORT=3000
MAX_THREADS=5
MIN_THREADS=5
PIDFILE=tmp/pids/server.pid
WEB_CONCURRENCY=2
APP_NAME=rack-api
APP_ENV=development
REDIS_URL=redis://redis:6379
RACK_SESSION_SECURE_KEY=hTz9XUxDjz4MEUhsAGmPbrZZ3HwvjhxLtcW5J74HatK8VNvHz9K8keHrFmWZgvxMSH2vDZzSo8BDNWWbxPngjAAzKXmZo3DBje6KeW36aWm2mhEDZLdnNJc6aWuxfcYW
