RACK_ENV=development
PORT=3000
MAX_THREADS=5
MIN_THREADS=5
PIDFILE=tmp/pids/server.pid
WEB_CONCURRENCY=2
APP_NAME=rack-api
APP_ENV=development
REDIS_URL=redis://localhost:6379
REDIS_DB=1
SIDEKIQ_WEB_USERNAME=dev
SIDEKIQ_WEB_PASSWORD=dev
